<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/iconfont.css">
	<script type="text/javascript" src="__PUBLIC__/js/html5shiv.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>
<body>
	<include file="Public/head" />
	<div class="content clearfix">
		<include file="Public/left" />
		<div class="content-right">
			<div class="crumb-wrap">
	            <div class="crumb-list">
		            <i class="iconfont icon-document"></i>
		            <a href="/jscss/admin">首页</a>
		            <span>&gt;</span>
		            <a href="#">链接管理</a>
                    <span>&gt;</span>
                    <span>新增链接</span>
		        </div>
	        </div>
	        <div class="result-list">
	        	<div class="result-content">
                    <form method="post" action="__CONTROLLER__/add" enctype="multipart/form-data">
    	        		<table class="add-table">
                            <tr>
                                <th><i class="require-red">*</i>链接名称：</th>
                                <td>
                                    <input class="common-text required" id="" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接url地址：</th>
                                <td>
                                    <input class="common-text required" id="url" name="url" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>链接描述：</th>
                                <td>
                                    <textarea name="descr" rows="4" class="common-textarea"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-submit " value="提交" type="submit">
                                    <input class="btn btn-return" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
    	        		</table>
                    </form>
	        	</div>
	        </div>
		</div>
	</div>
</body>
</html>