<aside class="content-body-right">
	<div class="notice-me">
		<h1 class="title">关注我</h1>
		<ul class="clearfix" id="contact_icon">
			<li id="phone"></li>
			<li id="email"></li>
			<li id="qq"></li>
			<li id="huizhang"></li>
		</ul>
		<div class="contact-msg" id="contact_msg" style="display: none;">
			<span class="caret" id="caret"></span>
			<div class="contact-outer-wrap">
				<div class="contact-wrap" id="contact_wrap">
					<p>phone：15521214104</p>
					<p>email：weile_php@163.com</p>
					<p>qq：1172010632</p>
					<p>徽章：暂无</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tuwen-tuijian">
		<h1 class="title">图文推荐</h1>
		<ul class="media">
			<volist name='recoArtres' id='vo'>
				<li class="clearfix">
					<a href="__MODULE__/Article/index/aid/{$vo.id}" class="wrap-img img-link"><img src="__ROOT__/{$vo.pic}" alt="{$vo.title}"></a>
					<div class="media-left">
						<h1><a href="__MODULE__/Article/index/aid/{$vo.id}">{$vo.title}</a></h1>
						<span class="message">{$vo.catename}</span>
						<span class="time">{$vo.time|substr=0,10}</span>
					</div>
				</li>
			</volist>
		</ul>
	</div>
	<div class="recent-update">
		<h1 class="title">最新更新</h1>
		<ul>
			<volist name='articleres' id='vo'>
				<li><a href="__MODULE__/Article/index/aid/{$vo.id}">{$vo.title}</a></li>
			</volist>
		</ul>
	</div>
	<div class="youqing-link">
		<h1 class="title">友情链接</h1>
		<ul class="clearfix">
			<volist name='linkres' id='vo'>
				<li><a href="{$vo.url}" rel="nofollow" target="_blank">{$vo.title}</a></li>
			</volist>
		</ul>
	</div>
	<div class="select-date-wrap">
		<h1 class="title">时间分类</h1>
		<select class="select-date" id="select_date">
			<option selected>选择月份</option>
			<volist name='articles' id='vo'>
				<option value="{$vo.date_mon}">{$vo.date_mon}&nbsp;({$vo.count})</option>
			</volist>
		</select>
	</div>
	<div class="shanshuihua"></div>
</aside>