<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/iconfont.css">
	<script type="text/javascript" src="__PUBLIC__/js/html5shiv.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">
        .is-recommend{
            width:20px;
            height:20px;
            vertical-align: top;
        }
    </style>
</head>
<body>
	<include file="Public/head" />
	<div class="content clearfix">
		<include file="Public/left" />
		<div class="content-right">
			<div class="crumb-wrap">
	            <div class="crumb-list">
		            <i class="iconfont icon-document"></i>
		            <a href="/jscss/admin">首页</a>
		            <span>&gt;</span>
		            <a href="#">文章管理</a>
                    <span>&gt;</span>
                    <span>新增文章</span>
		        </div>
	        </div>
	        <div class="result-list">
	        	<div class="result-content">
                    <form method="post" action="__CONTROLLER__/add" enctype="multipart/form-data">
    	        		<table class="add-table">
    	        			<tr>
                                <th width="120"><i class="require-red">*</i>分类：</th>
                                <td>
                                    <select name="cateid" id="cateid" class="required">
                                        <option value="" selected="selected" hidden="hidden">请选择</option>
                                        <volist id='vo' name='catedata'>
                                            <option value="{$vo.id}">{$vo.catename}</option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>文章描述：</th>
                                <td><textarea class="common-textarea" name="descr" rows="5"></textarea></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td><input name="pic" id="" type="file"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>是否推荐：</th>
                                <td>
                                    <input name="recommend" id="" type="radio" value="是" checked class="is-recommend">是
                                    <input name="recommend" id="" type="radio" value="否" class="is-recommend">否
                                </td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-submit " value="提交" type="submit">
                                    <input class="btn btn-return" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
    	        		</table>
                    </form>
	        	</div>
	        </div>
		</div>
	</div>

    <script type="text/javascript">
        UE.getEditor('content',{initialFrameWidth:900,initialFrameHeight:400});
    </script>
</body>
</html>