<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/iconfont.css">
	<script type="text/javascript" src="__PUBLIC__/js/html5shiv.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/article.js"></script>
</head>
<body>
	<include file="Public/head" />
	<div class="content clearfix">
		<include file="Public/left" />
		<div class="content-right">
			<div class="crumb-wrap">
	            <div class="crumb-list">
		            <i class="iconfont icon-document"></i>
		            <a href="/jscss/admin">首页</a>
		            <span class="crumb-step">&gt;</span>
		            <span class="crumb-name">文章管理</span>
		        </div>
	        </div>
	        <div class="search-content">
                <form action="__CONTROLLER__/searchLst" method="post" class="clearfix">
                   <div class="form-group">
                   		<label>选择分类：</label>
                   		<select class="search-select" id="search_select">
                   			<option selected>全部</option>
                            <volist id='vo' name='catelist'>
                   			    <option value="{$vo.id}">{$vo.catename}</option>
                   			</volist>
                   		</select>
                   </div>
                   <div class="form-group">
                   		<label>关键字：</label>
                   		<input type="text" name="keyWord" placeholder="关键字" class="search-text">
                   </div>
                   <div class="form-group">
                   		<input type="submit" name="" value="查询" class="search-submit">
                   </div>
                </form>
	        </div>
	        <div class="result-list">
	        	<div class="result-operation">
	        		<a href="__CONTROLLER__/add"><i class="iconfont icon-document"></i>新增文章</a>
	        		<a href="#" id="pl_del"><i class="iconfont icon-document"></i>批量删除</a>
	        	</div>
	        	<div class="result-content">
	        		<table id="result_table">
	        			<tr class="gaoliang">
	        				<th width="5%"><input name="" type="checkbox" id="checkboxAll"></th>
                            <th>ID</th>
                            <th>标题</th>
                            <th width="30%">简略描述</th>
                            <th>缩略图</th>
                            <th>栏目名称</th>
                            <th>是否推荐</th>
                            <th>更新时间</th>
                            <th>操作</th>
	        			</tr>
                        <volist id="vo" name="list">
    	        			<tr>
                                <td><input name="pl_opera" value="{$vo.id}" type="checkbox"></td>
                                <td>{$vo.id}</td>
                                <td title="">{$vo.title}</td>
                                <td>{$vo.descr}</td>
                                <td>
                                    <if condition="$vo['pic'] eq ''">
                                        暂无缩略图
                                    <else/>
                                        <img src="__ROOT__/{$vo.pic}" alt="{$vo.title}" width="70px" height="40px">
                                    </if> 
                                </td>
                                <td>{$vo.catename}</td>
                                <td>{$vo.recommend}</td>
                                <td>{$vo.time|substr=0,10}</td>
                                <td>
                                    <a class="link-update" href="__CONTROLLER__/edi/aid/{$vo.id}">修改</a>
                                    <a class="del" href="__CONTROLLER__/del/aid/{$vo.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
	        		</table>
	        		<div class="list-page">{$page}</div>
	        	</div>
	        </div>
		</div>
	</div>
</body>
</html>